@media(max-width: 480px) {
    .root__content {
        width: 75%;
        height: 220px;
    }

    .root__contentWrapper {
        padding: 30px;
    }

    .root__content_cancel {
        margin-top: 30px;
    }

    .root__content_disconnect_backBtn {
        margin-top: 30px;
    }
}